

@font-face {
  font-family: "Brown-Regular";
  src:url("../vendor/fonts/lineto-brown-regular.eot");
  src:url("../vendor/fonts/lineto-brown-regular.eot?#iefix") format("embedded-opentype"),
      url("../vendor/fonts/lineto-brown-regular.woff2") format("woff2"),
      url("../vendor/fonts/lineto-brown-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}