html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

img {
  width: 100%; }

.block {
  display: block; }

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto; }

.hide {
  display: none; }

.bodyh {
  overflow-y: hidden; }

@media screen and (max-width: 768px) {
  nav {
    display: none; } }

@media screen and (max-width: 768px) {
  .fullscreen {
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #fff; } }

header {
  background-color: #861333; }
  @media screen and (max-width: 500px) {
    header {
      padding-bottom: 15px; } }
  header .wrapper {
    width: 94.5%;
    margin: 0 auto; }
  header h1 {
    width: 12.2%;
    min-width: 150px;
    padding-top: 26px;
    display: inline-block; }
    @media screen and (max-width: 500px) {
      header h1 {
        display: block;
        margin: 0 auto; } }
    header h1 img {
      width: 100%; }
  header .searchbox {
    padding-top: 28px;
    float: right; }
    @media screen and (max-width: 500px) {
      header .searchbox {
        float: none;
        margin-top: 15px;
        padding-top: 0; } }
    header .searchbox form {
      border: 1px solid #fff;
      position: relative;
      background-color: #fff; }
    header .searchbox .inp-search {
      padding: 0;
      border: none;
      outline: none;
      margin: 0 24px 0 5px;
      background-color: #fff;
      font-family: sans-serif;
      font-size: 12px; }
      @media screen and (max-width: 500px) {
        header .searchbox .inp-search {
          width: 80%;
          margin: 0 0 0 5px;
          padding: 10px 0; } }
    header .searchbox .search-btn {
      border: none;
      outline: none;
      background: transparent;
      color: #555;
      cursor: pointer;
      filter: FlipH;
      /* IE 6/7/8 */
      font-size: 12px;
      -moz-transform: scaleX(-1);
      /* Gecko */
      -o-transform: scaleX(-1);
      /* Opera */
      -webkit-transform: scaleX(-1);
      /* Webkit */
      transform: scaleX(-1);
      /* Standard */ }
    header .searchbox .fa-sort-down {
      position: absolute;
      top: 30%;
      right: 12%;
      transform: translateY(-50%);
      color: #555;
      font-size: 18px; }
      @media screen and (max-width: 500px) {
        header .searchbox .fa-sort-down {
          top: 40%; } }
      @media screen and (max-width: 500px) {
        header .searchbox .fa-sort-down {
          right: 3%; } }
  @media screen and (max-width: 768px) {
    header .hamburger {
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; } }
  @media screen and (max-width: 768px) {
    header .hamburger .hamburger-btn {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 25px;
      left: 5%;
      background-color: #000;
      cursor: pointer; }
      header .hamburger .hamburger-btn.active .hambar {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }
      header .hamburger .hamburger-btn.active .hambar:before {
        top: 0;
        left: 0;
        transform: rotate(45deg); }
      header .hamburger .hamburger-btn.active .hambar:after {
        top: 0;
        left: 0;
        transform: rotate(135deg); } }
  @media screen and (max-width: 768px) {
    header .hamburger .hamburger-btn .hambar {
      width: 25px;
      height: 4px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(255, 195, 0, 0.8);
      transition: .5s; }
      header .hamburger .hamburger-btn .hambar:before, header .hamburger .hamburger-btn .hambar:after {
        content: "";
        width: 25px;
        height: 4px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(255, 195, 0, 0.8);
        transition: .5s; }
      header .hamburger .hamburger-btn .hambar:before {
        top: -8px; }
      header .hamburger .hamburger-btn .hambar:after {
        top: 12px; } }
  header .hamburger nav {
    padding: 20px 0; }
    @media screen and (max-width: 768px) {
      header .hamburger nav {
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        opacity: 0;
        animation-name: anim-cartoon2;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-name: navbar-style; }
      @keyframes navbar-style {
        from {
          opacity: 0;
          position: absolute;
          left: -1000px; }
        to {
          opacity: 1;
          position: absolute;
          left: 0px; } } }
    header .hamburger nav .nav-li {
      padding: 7px 0;
      display: inline-block; }
      @media screen and (max-width: 768px) {
        header .hamburger nav .nav-li {
          width: 100%;
          display: block; } }
      header .hamburger nav .nav-li a {
        padding: 7px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          header .hamburger nav .nav-li a {
            background-color: rgba(0, 0, 0, 0);
            color: #a80f3c;
            font-size: 16px;
            display: block;
            text-align: center; } }
        header .hamburger nav .nav-li a:hover {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.5); }
          @media screen and (max-width: 768px) {
            header .hamburger nav .nav-li a:hover {
              color: #a80f3c;
              background-color: rgba(0, 0, 0, 0); } }
      header .hamburger nav .nav-li.active a {
        background-color: rgba(0, 0, 0, 0.4); }
        @media screen and (max-width: 768px) {
          header .hamburger nav .nav-li.active a {
            color: #000;
            background-color: rgba(0, 0, 0, 0); } }

.headingbar {
  background-color: #a80f3c;
  margin-bottom: 46px; }
  .headingbar .wrapper {
    width: 94.5%;
    padding: 31px 0;
    margin: 0 auto; }
  .headingbar h3 {
    color: #fff;
    font-family: sans-serif;
    font-size: 28px;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .headingbar h3 {
        text-align: center; } }

.leftsidemenus {
  width: 18%;
  display: inline-block;
  vertical-align: top; }
  @media screen and (max-width: 768px) {
    .leftsidemenus {
      width: 100%; } }
  .leftsidemenus .wrapper {
    width: 83.5%;
    margin-left: 14%; }
    @media screen and (max-width: 768px) {
      .leftsidemenus .wrapper {
        width: 90%;
        margin: 0 auto; } }
  .leftsidemenus h3 {
    padding-bottom: 10px;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700; }
  .leftsidemenus .pinkline {
    height: 5px;
    display: block;
    background-color: #a80f3c; }
  .leftsidemenus .accordion {
    width: 100%;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto 20px;
    	/**
     * Submenu
     -----------------------------*/ }
    .leftsidemenus .accordion .link {
      padding: 13px 15px 13px 10px;
      border-bottom: 1px solid #CCC;
      display: block;
      position: relative;
      color: #4D4D4D;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 14px;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .leftsidemenus .accordion li i {
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      font-size: 18px;
      color: #595959;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .leftsidemenus .accordion li i.fa-sort-down {
      right: 0;
      left: auto;
      font-size: 16px; }
    .leftsidemenus .accordion li.open .link {
      color: #b63b4d; }
    .leftsidemenus .accordion li.open i {
      color: #b63b4d; }
    .leftsidemenus .accordion li.open i.fa-sort-down {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .leftsidemenus .accordion .submenu {
      display: none;
      background: #444359;
      font-size: 14px;
      font-family: sans-serif; }
      .leftsidemenus .accordion .submenu li {
        border-bottom: 1px solid #4b4a5e; }
      .leftsidemenus .accordion .submenu a {
        display: block;
        text-decoration: none;
        color: #d9d9d9;
        padding: 12px;
        text-align: center;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease; }
      .leftsidemenus .accordion .submenu a:hover {
        background: #b63b4d;
        color: #FFF; }
        @media screen and (max-width: 768px) {
          .leftsidemenus .accordion .submenu a:hover {
            background: #444359;
            color: #d9d9d9; } }
  .leftsidemenus .sidebar-heading2 {
    padding-top: 30px; }
  .leftsidemenus .respbyoccasion li {
    border-bottom: 1px solid #ccc; }
    .leftsidemenus .respbyoccasion li a {
      padding: 13px 0 13px 10px;
      display: block;
      color: #4D4D4D;
      font-family: sans-serif;
      font-size: 14px;
      text-decoration: none;
      transition: all 0.5s linear; }
      .leftsidemenus .respbyoccasion li a:hover {
        color: #861333; }
        @media screen and (max-width: 768px) {
          .leftsidemenus .respbyoccasion li a:hover {
            color: #4D4D4D; } }

.rightsidecontent {
  width: 80.1%;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top; }
  @media screen and (max-width: 768px) {
    .rightsidecontent {
      width: 100%;
      margin-left: 0;
      display: block; } }
  .rightsidecontent .wrapper {
    width: 95.3%; }
    @media screen and (max-width: 768) {
      .rightsidecontent .wrapper {
        width: 90%;
        margin: 0 auto; } }
  .rightsidecontent .banner {
    position: relative; }
    @media screen and (max-width: 768px) {
      .rightsidecontent .banner {
        margin-top: 20px; } }
    .rightsidecontent .banner .bannertext {
      width: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .rightsidecontent .banner span, .rightsidecontent .banner h2 {
      color: #fff;
      font-family: sans-serif;
      text-align: center; }
    .rightsidecontent .banner span {
      display: block;
      font-size: 18px;
      font-weight: 700; }
      @media screen and (max-width: 500px) {
        .rightsidecontent .banner span {
          font-size: 14px; } }
    .rightsidecontent .banner h2 {
      font-size: 70px; }
      @media screen and (max-width: 980px) {
        .rightsidecontent .banner h2 {
          font-size: 42px; } }
      @media screen and (max-width: 768px) {
        .rightsidecontent .banner h2 {
          font-size: 32px; } }
      @media screen and (max-width: 500px) {
        .rightsidecontent .banner h2 {
          font-size: 20px; } }
  .rightsidecontent .adtext h3 {
    padding: 28px 0 74px;
    color: #333;
    font-family: sans-serif;
    font-size: 40px; }
    @media screen and (max-width: 980px) {
      .rightsidecontent .adtext h3 {
        font-size: 32px; } }
    @media screen and (max-width: 768px) {
      .rightsidecontent .adtext h3 {
        font-size: 24px; } }
    @media screen and (max-width: 500px) {
      .rightsidecontent .adtext h3 {
        font-size: 18px; } }
  .rightsidecontent .marketingassets h3 {
    display: inline-block;
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500; }
    @media screen and (max-width: 500px) {
      .rightsidecontent .marketingassets h3 {
        width: 100%;
        padding-bottom: 10px;
        display: block;
        text-align: center; } }
  .rightsidecontent .marketingassets .cockrec-link {
    border-bottom: 1px solid transparent;
    float: right;
    color: #a80f3c;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: .5s all linear; }
    @media screen and (max-width: 500px) {
      .rightsidecontent .marketingassets .cockrec-link {
        float: none;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%); } }
    .rightsidecontent .marketingassets .cockrec-link:hover {
      border-bottom: 1px solid #a80f3c; }
      @media screen and (max-width: 768px) {
        .rightsidecontent .marketingassets .cockrec-link:hover {
          border-bottom: 1px solid transparent; } }
  .rightsidecontent .marketingassets .greyline {
    border-bottom: 1px solid #cfcfcf;
    margin: 10px 0;
    display: block; }
  .rightsidecontent .marketingassets-ul li {
    width: 30%;
    padding: 20px 1.4%;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 768px) {
      .rightsidecontent .marketingassets-ul li {
        width: 100%;
        padding: 20px 0; } }
    .rightsidecontent .marketingassets-ul li img {
      display: block; }
    .rightsidecontent .marketingassets-ul li a {
      color: #000;
      display: block;
      position: relative;
      background: rgba(0, 0, 0, 0);
      text-decoration: none;
      transition: .5s all linear; }
      .rightsidecontent .marketingassets-ul li a:hover .overlay {
        background: rgba(0, 0, 0, 0.5);
        color: #fff; }
        @media screen and (max-width: 768px) {
          .rightsidecontent .marketingassets-ul li a:hover .overlay {
            background: rgba(0, 0, 0, 0);
            color: transparent; } }
    .rightsidecontent .marketingassets-ul li h4, .rightsidecontent .marketingassets-ul li p {
      padding: 10px 0;
      font-family: sans-serif;
      font-size: 16px;
      line-height: 1.4;
      text-align: center;
      text-decoration: none; }
    .rightsidecontent .marketingassets-ul li .overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0);
      color: transparent;
      transition: .5s linear all; }
      .rightsidecontent .marketingassets-ul li .overlay p {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        font-weight: 700; }
  .rightsidecontent .recipe-collection h3 {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500; }
    @media screen and (max-width: 500px) {
      .rightsidecontent .recipe-collection h3 {
        width: 100%;
        padding-bottom: 10px;
        display: block;
        text-align: center; } }
  .rightsidecontent .recipe-collection .greyline {
    border-bottom: 1px solid #cfcfcf;
    margin: 10px 0;
    display: block; }
  .rightsidecontent .recipe-col-ul {
    margin-bottom: 50px; }
    .rightsidecontent .recipe-col-ul li {
      width: 30%;
      padding: 20px 1.4%;
      display: inline-block;
      vertical-align: top; }
      @media screen and (max-width: 768px) {
        .rightsidecontent .recipe-col-ul li {
          width: 100%;
          padding: 20px 0; } }
      .rightsidecontent .recipe-col-ul li img {
        display: block; }
      .rightsidecontent .recipe-col-ul li a {
        display: block;
        position: relative;
        background: rgba(0, 0, 0, 0);
        color: #000;
        text-decoration: none;
        transition: .5s all linear; }
        .rightsidecontent .recipe-col-ul li a:hover .rc-overlay {
          background: rgba(0, 0, 0, 0.5);
          color: #fff; }
          @media screen and (max-width: 768px) {
            .rightsidecontent .recipe-col-ul li a:hover .rc-overlay {
              background: rgba(0, 0, 0, 0);
              color: transparent; } }
      .rightsidecontent .recipe-col-ul li h4, .rightsidecontent .recipe-col-ul li p {
        padding: 10px 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        text-decoration: none; }
      .rightsidecontent .recipe-col-ul li .rc-overlay {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        color: transparent;
        transition: .5s linear all; }
        .rightsidecontent .recipe-col-ul li .rc-overlay p {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          font-weight: 700; }

footer .wrapper {
  position: relative; }
footer .topbtn {
  padding: 5px 15px;
  display: none;
  position: fixed;
  right: 3%;
  bottom: 20px;
  background-color: #a80f3c;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  opacity: 1;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s; }
  footer .topbtn:hover {
    opacity: .8; }
    @media screen and (max-width: 768px) {
      footer .topbtn:hover {
        opacity: 1; } }

/*# sourceMappingURL=style.css.map */
