//Header Section Begins
header {
	background-color: $maroon-dark;
	.wrapper {
		width: 94.5%;
		margin: 0 auto;		
	}
	h1 {
		width: 12.2%;
		padding-top: 26px;
		min-width: 150px;
		display: inline-block;
		img {
			width: 100%;
		}
	}	
	.searchbox {
		padding-top: 28px;
		float: right;
		form {
			border: 1px solid $white;
			background-color: $white;
			position: relative;			
		}
		.inp-search {
			margin: 0 24px 0 5px;
			border: none;
			outline: none;
			padding: 0;
			background-color: $white;
			font-size: 12px;
			font-family: sans-serif;
		}
		.search-btn {
			background: transparent;
			border: none;
			outline: none;
			color: $grey;
			filter: FlipH; /* IE 6/7/8 */
			font-size: 12px;			
			-moz-transform:    scaleX(-1); /* Gecko */
			-o-transform:      scaleX(-1); /* Opera */
			-webkit-transform: scaleX(-1); /* Webkit */
			transform:         scaleX(-1); /* Standard */
		}
		.fa-sort-down {
			position: absolute;
			top: 30%;
			right: 12%;	
			transform: translateY(-50%);
			color: $grey;
			font-size: 18px;
		}
	}
	.hamburger {
		nav {
			padding: 20px 0;
			.nav-li	 {
				padding: 7px 0;
				display: inline-block;
				a {
					padding: 7px;
					background-color: rgba(0,0,0,0);
					color: $white;
					font-family: sans-serif;
					font-size: 12px;
					font-weight: 700;
					text-decoration: none;
					&:hover {
						background-color: rgba(0,0,0,.4);
					}
				}
				&.active {
					a {						
						background-color: rgba(0,0,0,.4);
					}
				}
			}
		}
	}
}

//Headingbar Section Begins
.headingbar {
	background-color: $maroon-light;
	margin-bottom: 46px;
	.wrapper {
		width: 94.5%;
		padding: 31px 0;
		margin: 0 auto;		
	}
	h3 {
		color: $white;
		font-family: sans-serif;
		font-size: 28px;
		// font-weight: 700;
	}
}

//Left Side Menus Section Begins
.leftsidemenus {
	width: 19.8%;	
	display: inline-block;
	vertical-align: top;
	.wrapper {
		width: 77.5%;
		margin-left: 14%;
		background-color: #f00;
	}
	h3 {
		padding-left: 5px;
		font-family: sans-serif;
		font-size: 22px;
		font-weight: 700;
		font-size: 13px;
	}

}


//Right Side Content Section Begins
.rightsidecontent {
	width: 80.2%;
	margin-left: -4px;
	display: inline-block;
	vertical-align: top;
	.wrapper {
		width: 95.3%;
	}
}