//Left Side Menus Section Begins
.leftsidemenus {
	width: 18%;	
	display: inline-block;
	vertical-align: top;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
	.wrapper {
		width: 83.5%;
		margin-left: 14%;
		@media screen and (max-width: 768px) {
			width: 90%;
			margin: 0 auto;
		}
	}
	h3 {
		padding-bottom: 10px;
		padding-left: 5px;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: 700;
	}
	.pinkline {
		height: 5px;
		display: block;
		background-color: $maroon-light;
	}
	.accordion {
	  width: 100%;
	  background: $white;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  margin: 0 auto 20px;
		  & .link {
		  padding: 13px 15px 13px 10px;
		  border-bottom: 1px solid #CCC;
		  display: block;
		  position: relative;
		  color: #4D4D4D;
		  cursor: pointer;
		  font-family: sans-serif;
		  font-size: 14px;		  
		  -webkit-transition: all 0.4s ease;
		  -o-transition: all 0.4s ease;
		  transition: all 0.4s ease;
		}
			& li i {
		  position: absolute;
		  top: 45%;
		  transform: translateY(-50%);
		  font-size: 18px;
		  color: #595959;
		  -webkit-transition: all 0.4s ease;
		  -o-transition: all 0.4s ease;
		  transition: all 0.4s ease;
		}
			& li i.fa-sort-down {
		  right: 0;
		  left: auto;
		  font-size: 16px;
		}

			& li.open .link { color: #b63b4d; }
			& li.open i { color: #b63b4d; }

			& li.open i.fa-sort-down {
		  -webkit-transform: rotate(180deg);
		  -ms-transform: rotate(180deg);
		  -o-transform: rotate(180deg);
		  transform: rotate(180deg);
		}

		/**
	 * Submenu
	 -----------------------------*/

		.submenu {
		  display: none;
		  background: #444359;
		  font-size: 14px;
		  font-family: sans-serif;
				
				& li { border-bottom: 1px solid #4b4a5e; }
			
				& a {
			  display: block;
			  text-decoration: none;
			  color: #d9d9d9;
			  padding: 12px;
			  text-align: center;
			  -webkit-transition: all 0.25s ease;
			  -o-transition: all 0.25s ease;
			  transition: all 0.25s ease;
			}
			
				& a:hover {
			  background: #b63b4d;
			  color: #FFF;
			}
		}
	}
	.sidebar-heading2 { padding-top: 30px; }
	.respbyoccasion {
		li {
			border-bottom: 1px solid #ccc;
			a{
				padding: 13px 0 13px 10px;
				display: block;
				color: #4D4D4D;
				font-family: sans-serif;
				font-size: 14px;
				text-decoration: none;
				transition: all 0.5s linear;
				&:hover {
					color: $maroon-dark;
				}
 			}
		}
	}
}
