img { width: 100%; }
.block { display: block; }

.wrapper {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.hide { display: none; }

.bodyh { overflow-y: hidden; }

nav {
  @media screen and (max-width: 768px) {
    display: none;   
  }
}

.fullscreen {
   @media screen and (max-width: 768px) {
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 2;
    background-color: #fff; 
   }    
}