//Header Section Begins
header {
	background-color: $maroon-dark;
	.wrapper {
		width: 94.5%;
		margin: 0 auto;		
	}
	h1 {
		width: 12.2%;
		min-width: 150px;
		padding-top: 26px;
		display: inline-block;
		img {
			width: 100%;
		}
	}	
	.searchbox {
		padding-top: 28px;
		float: right;
		form {
			border: 1px solid $white;
			position: relative;			
			background-color: $white;
		}
		.inp-search {
			padding: 0;
			border: none;
			outline: none;
			margin: 0 24px 0 5px;
			background-color: $white;
			font-family: sans-serif;
			font-size: 12px;
		}
		.search-btn {
			border: none;
			outline: none;
			background: transparent;
			color: $grey;
			filter: FlipH; /* IE 6/7/8 */
			font-size: 12px;			
			-moz-transform:    scaleX(-1); /* Gecko */
			-o-transform:      scaleX(-1); /* Opera */
			-webkit-transform: scaleX(-1); /* Webkit */
			transform:         scaleX(-1); /* Standard */
		}
		.fa-sort-down {
			position: absolute;
			top: 30%;
			right: 12%;	
			transform: translateY(-50%);
			color: $grey;
			font-size: 18px;
		}
	}
	.hamburger {
		nav {
			padding: 20px 0;
			.nav-li	 {
				padding: 7px 0;
				display: inline-block;
				a {
					padding: 7px;
					background-color: rgba(0,0,0,0);
					color: $white;
					font-family: sans-serif;
					font-size: 12px;
					font-weight: 700;
					text-decoration: none;
					&:hover {
						background-color: rgba(0,0,0,.4);
					}
				}
				&.active {
					a {						
						background-color: rgba(0,0,0,.4);
					}
				}
			}
		}
	}
}