//Right Side Content Section Begins
.rightsidecontent {
	width: 80.1%;
	margin-left: -5px;
	display: inline-block;
	vertical-align: top;
	.wrapper {
		width: 95.3%;
	}
	.banner {
		position: relative;
		.bannertext {
			width: 100%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		span,h2 {
			color: $white;
			font-family: sans-serif;
			text-align: center;
		}
		span {
			display: block;
			font-size: 18px;
			font-weight: 700;
		}
		h2 {
			font-size: 70px;
		}
	}
	.adtext {
		h3{
			padding: 28px 0 74px;
			color: #333;
			font-family: sans-serif;
			font-size: 40px;
		}
	}
	.marketingassets {
		h3 {
			color: $black;
			font-family: sans-serif;
			font-size: 22px;
			font-weight: 500;
		}
		.greyline {
			border-bottom: 1px solid #cfcfcf;
			margin: 10px 0;
			display: block;
		}
	}
	.marketingassets-ul {
		li {
			width: 30%;
			padding: 20px 1.4%;
			display: inline-block;
			vertical-align: top;			
			a {
				color: $black;
				display: block;				
				position: relative;
				background: rgba(0,0,0,0);
				text-decoration: none;
				transition: .5s all linear;
					&:hover .overlay {					
					background: rgba(0,0,0,.5);
					color: $white;
				}
			}
			h4,p {				
				padding: 10px 0;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 1.4;
				text-align: center;
				text-decoration: none;	
			}
			.overlay {				
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0,0,0,0);
				color: transparent;
				transition: .5s linear all;
				p {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);					
					font-size: 22px;
					font-weight: 700;
				}
			}
		}
	}

	.recipe-collection {
		h3 {
			color: $black;
			font-family: sans-serif;
			font-size: 22px;
			font-weight: 500;
		}
		.greyline {
			border-bottom: 1px solid #cfcfcf;
			margin: 10px 0;
			display: block;
		}
	}

	.recipe-col-ul {
		margin-bottom: 50px;
		li {
			width: 30%;
			padding: 20px 1.4%;
			display: inline-block;
			vertical-align: top;			
			a {
				display: block;				
				position: relative;
				background: rgba(0,0,0,0);
				color: $black;
				text-decoration: none;
				transition: .5s all linear;
					&:hover .rc-overlay {
					background: rgba(0,0,0,.5);
					color: $white;
				}
			}
			h4,p {				
				padding: 10px 0;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 1.4;
				text-align: center;
				text-decoration: none;	
			}
			.rc-overlay {				
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0,0,0,0);
				color: transparent;
				transition: .5s linear all;
				p {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);					
					font-size: 22px;
					font-weight: 700;
				}
			}
		}
	}
}